Repository LinkrewProject/Linkrew-frontend, pull requests merged in 2025-06, with the labels that each got.

#112 feat: sse 기반 실시간 알림 구독 및 상태 관리 기능 구현
  src/components/header/UserActions.tsx
  src/components/modal/page/ModalNotification.tsx
  src/layout/layout.tsx
  src/stores/notification.ts
  src/stores/userStore.ts
Labels: 📬 API, ✨ Feature

#121 feat: 즐겨찾기 기능 구현 및 breadcrumb 임시
  src/components/header/BreadCrumb.tsx
  src/components/header/Header.tsx
  src/components/page-layout-ui/BookmarkPageContentSection.tsx
  src/components/page-layout-ui/FolderItem.tsx
  src/components/page-layout-ui/LinkItem.tsx
  src/components/page-layout-ui/ListBookmarkOption.tsx
  src/components/page-layout-ui/PersonalPageContentSection.tsx
  src/hooks/mutations/useUpdateFolderBookmark.ts
  src/hooks/mutations/useUpdateLinkBookmark.ts
  src/pages/BookmarkPage.tsx
  src/pages/FolderDetailPage.tsx
  src/pages/SharedPage.tsx
  src/routes/Router.tsx
  src/stores/breadcrumb.ts
Labels: 📬 API, ✨ Feature

#125 feat: 프로필 색상 변경 기능 구현 및 관련 훅/스토어 연동
  src/apis/profile-apis/patchProfileColor.ts
  src/components/modal/profile/ProfileChangeBody.tsx
  src/hooks/mutations/useUpdateProfileColor.ts
  src/stores/userStore.ts
Labels: 📬 API, ✨ Feature

#126 feat: 알림 수락/거절/삭제 기능 구현 및 알림 정렬 탭 추가
  src/apis/alarm-apis/deleteDirectoryRequest.ts
  src/apis/alarm-apis/fetchNotifications.ts
  src/apis/alarm-apis/patchDirectoryTransmissionStatus.ts
  src/apis/alarm-apis/patchShareInvitationStatus.ts
  src/apis/alarm-apis/useFetchNotifications.ts
  src/components/header/UserActions.tsx
  src/components/modal/page/NotificationModal.tsx
  src/components/modal/profile/ProfileChangeBody.tsx
  src/hooks/mutations/useDeleteDirectoryRequest.ts
  src/hooks/mutations/usePatchDirectoryTransmissionStatus.ts
  src/hooks/mutations/usePatchShareInvitationStatus.ts
  src/hooks/queries/useFetchNotification.ts
  src/pages/auth/signup/index.tsx
  src/styles/tokens.ts
  src/types/modalAlarm.ts
Labels: 📬 API, ✨ Feature

#130 feat: 닉네임 변경 기능 추가 및 프로필 api 응답 파싱 개선
  src/apis/profile-apis/patchProfileColor.ts
  src/apis/profile-apis/patchProfileNickname.ts
  src/components/common-ui/Modal.tsx
  src/components/modal/profile/ProfileChangeBody.tsx
  src/components/modal/profile/ProfileSettingsModal.tsx
  src/hooks/mutations/useUpdateProfileColor.ts
  src/hooks/mutations/useUpdateProfileNickname.ts
  src/stores/userStore.ts
Labels: 📬 API, ✨ Feature, 🎨 HTML&CSS

#133 feat: 공유페이지 모달 관련 마크업 및 api 작업
  src/apis/page-apis/updateSharedPageInvitation.ts
  src/apis/page-apis/withdrawSharedPage.ts
  src/components/common-ui/DropDownInline.tsx
  src/components/common-ui/ModalOptions.tsx
  src/components/modal/page/DeleteSharedPageModal.tsx
  src/components/modal/page/InviteUserModal.tsx
  src/components/modal/page/ManageSharedPageModal.tsx
  src/components/modal/page/ModalMenu.tsx
  src/components/modal/page/WithdrawlSharedPageModal.tsx
  src/components/page-layout-ui/PageSortBox.tsx
  src/hooks/mutations/updateSharedPageInvitation.ts
  src/hooks/mutations/useWithdrawSharedPage.ts
  src/hooks/queries/useFetchSharedPageDashboard.ts
  src/pages/SharedPage.tsx
  src/types/pages.ts
Labels: 📬 API, ✨ Feature, 🎨 HTML&CSS

#136 feat: patch 추가 및 스타일, 훅등 부분 변경
  src/apis/page-apis/patchSharedPageInvitation.ts
  src/apis/page-apis/updateSharedPageInvitation.ts
  src/apis/page-apis/updateSharedPageMemberType.ts
  src/components/common-ui/ModalOptions.tsx
  src/components/modal/folder/AddFolderModal.tsx
  src/components/modal/page/InviteUserModal.tsx
  src/components/modal/page/ManageSharedPageModal.tsx
  src/components/modal/page/WithdrawlSharedPageModal.tsx
  src/components/side-bar/SideBar.tsx
  src/hooks/mutations/useCreateFolder.ts
  src/hooks/mutations/usePatchSharedPageInvitations.ts
  src/hooks/mutations/useUpdateSharedPageMemberType.ts
  src/types/pages.ts
Labels: 🔧 BugFix, 📬 API, ✨ Feature, 🎨 HTML&CSS
